.about{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:3rem 0;
}
.about .left {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.about .left{
    text-align: center;
   
}
.about .left p{
    margin:1.3rem;
}
.about .right {
    max-width: 700px;
}
.right .img-container{
    display: flex;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.right .img{
    max-width: 130%;
    border: 1px solid blue;
}
.right .img-top{
    padding-top: 17%;
    margin-left: -0rem;
}
.right .img-bottom{
    grid-column: 4 / span -7;
}
