
.Project-headig{
   text-align: center;
   padding: 4rem 0 2rem 0;
}
.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px; 
    padding-bottom: 5rem;

}
.project-card{
    padding: 1.2rem 1rem;
}
.project-card img{
    width: 100%;
}
.project-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.03em;
 color: #63AD01;
 padding: 1em 0;
}
.pro-detail p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
/* or 166% */
letter-spacing: 0.03em;
color: #777777;
}
.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.pro-btns .btn {
    padding: 0.5rem 1em;

}
@media screen and (max-width: 740px) {
    .project-container{
        max-width: 600px;
        
        margin: auto;
        grid-template-columns: 1fr;
        
    }
    
}