
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 144px;
  font-size: large;
  flex-wrap: wrap;
  max-width: 120%;
 box-sizing: border-box;
}


.signup{
  position: absolute;
width: 110px;
height: 38px;
left: 1208px;
top: 47px;
background: #63AD01;
border-radius: 6px;
}

button.logo:hover {
  background: #ea6c0b;
}
.intro{
  display: flex;
  align-items: center;
}

.menu {
    max-width: 100%;
    display: flex;
     margin: 30px;
}
.men:hover{
  
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
.menu li {
    padding: 0 1em ;
  
}
.menu li a {
    font-weight: 500;
    font-size: 1.3em;
}
.hamburger{
  
  color: white;
  
}
@media screen and ( max-width : 1084px ){
    .menu{
      flex-direction : column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: #fbfbfb;
      position: absolute;
      top:0;
      left:-100%;
      Z-index: -3;
      transition: 0.3s;
    }
    .menu.active{
      left :0%;
    }
    .menu li {
      padding : 1rem 0;
    }
    .menu li a {
      font-size: 2rem;
    } 
    .hamburger{
      display: initial;
      color: black;
      position: absolute;
      top :2em;
      Right:1em;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    height: 20%;
    z-index: 1;
}
    
  }
