 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
 }
 body {
  background-color: black;
 }
 h1,h4,P,a {
  color: white;
  text-decoration: none;
 }
 ul{
  list-style-type: none;
 }
 .btn1{
  margin: 0.4rem;
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: yellow;
  color: black;
  border: 1px solid white;
  font-weight: 900;
  cursor: pointer;
 }
 .btn-light {
  background-color: transparent;
  color:white;
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
 }
.btn1:hover {
background-color: white;
 opacity: 4rem;
 color : black
}
.btn-light:hover{
  background-color: white;
   color: black;
  }
















